@import '../styles/_colors.scss';
@import '../styles/_type.scss';

.licensing {
  @include type-normal();
  color: $color-white;
  padding: 1rem;
  margin: 0 auto;
  max-width: 70%;

  h1 {
    @include type-more-prominent();
    font-size: 2em;
    margin-bottom: 1rem;
  }

  h2 {
    @include type-less-prominent();
    font-size: 1.25em;
    color: $color-grey;
    margin-bottom: 1rem;
  }

  p,
  ul {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  a {
    color: $color-grey;
  }

  li {
    margin-left: 1rem;
  }
}
