@import '../styles/_colors.scss';
@import '../styles/_type.scss';
@import '../styles/layout.scss';

.modal__content {
  @include type-normal();
  color: $color-white;
  margin: 2rem 0;
  padding: 0 1rem;

  @include if-narrow() {
    margin: 1rem 0;
  }
}
