@import '~reset-css/sass/reset';
@import '_colors.scss';
@import '_type.scss';

html,
body,
#root {
  background-color: $color-dark-1;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.is-shown {
  visibility: visible;
}

.is-hidden {
  visibility: hidden;
}

.text-content {
  @include type-normal();
  color: $color-white;
  padding: 1rem;
  margin: 0 auto;
  max-width: 70%;

  h1 {
    @include type-more-prominent();
    font-size: 2em;
    margin-bottom: 1rem;
  }

  h2 {
    @include type-less-prominent();
    font-size: 1.25em;
    color: $color-grey;
    margin-bottom: 1rem;
  }

  p,
  ul {
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  li {
    margin-left: 1rem;
  }
}

.text-center {
  text-align: center;
}

a {
  color: $color-grey;

  &:hover {
    color: darken($color-grey, 10%);
  }
}
