@import '../styles/_type.scss';
@import '../styles/_colors.scss';

.recordings {
  @include type-normal();
  width: 100%;
  text-align: left;

  &__header {
    th {
      vertical-align: middle;
      color: $color-white;
      height: 3rem;
    }

    th:first-of-type {
      padding-left: 1rem;
    }

    th:last-of-type {
      padding-left: 1rem;
    }
  }

  &--empty {
    color: $color-grey;
    padding: 1rem 0 0 1rem;
    width: auto;
  }
}
