@import '@generative.fm/web-ui/styles/_theme.scss';

.recordings {
  @include type-normal();
  width: 100%;
  text-align: left;

  &__header {
    th {
      vertical-align: middle;
      color: $color-white;
      height: 3rem;
    }

    th:first-of-type {
      padding-left: 1rem;
    }

    th:last-of-type {
      padding-left: 1rem;
    }
  }
}
