@import '../styles/_type.scss';
@import '../styles/_colors.scss';

.recordings {
  @include type-normal();
  width: 100%;
  text-align: left;

  td,
  th {
    vertical-align: middle;
    color: $color-grey;
    height: 3rem;
  }
}
