@import '../styles/_colors.scss';
@import '../styles/_type.scss';
@import '../styles/_effects.scss';
@import '../styles/_layout.scss';

.search {
  width: 100%;
  box-sizing: border-box;
  background-color: $color-dark-2;
  height: $heightSearchbar;
  box-shadow: $box-shadow-bottom;
  color: $color-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid black;
  padding: 0 1rem;
  z-index: 1;

  &__input {
    margin: 0 0.5rem;
    font-size: 1em;
    background: none;
    border: none;
    caret-color: $color-white;
    color: $color-white;
    flex: 1;
    height: 100%;
    &:focus {
      outline: none;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
