@import '../styles/_colors.scss';

.volume {
  padding: 1rem;
  cursor: pointer;

  &:hover {
    .volume__bar {
      height: 0.5rem;
    }
  }

  &__bar {
    width: 10rem;
    height: 0.2rem;
    background-color: $color-grey;
    cursor: pointer;
  }

  &__level {
    height: 100%;
    background-color: $color-white;
    cursor: pointer;

    &--is-changing {
      background-color: $color-primary;
    }
  }
}
