@import '../styles/_colors.scss';
@import '../styles/_type.scss';
@import '../styles/_layout.scss';

.donate {
  &__options {
    margin: 3rem auto;
    max-width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include if-narrow() {
      flex-direction: column;

      &__option {
        &:first-of-type {
          margin-bottom: 1rem;
        }
        &:last-of-type {
          margin-top: 1rem;
        }
      }
    }

    &__option {
      display: flex;
      align-items: center;
      transition: color 200ms;
      cursor: pointer;

      &:hover {
        color: $color-primary;
        a {
          color: $color-primary;
        }
      }

      &--primary {
        padding: 1.5rem;
      }
    }

    svg {
      margin-left: 0.5rem;
    }
  }

  &__bigger-supporters {
    @include type-less-prominent();
    color: $color-white;
    font-size: 1.25em !important;
  }

  &__supporters {
    @include type-normal();
    color: $color-grey;
    font-size: 1em !important;
  }
}
