@import '../styles/_colors.scss';
@import '../styles/_type.scss';
@import '../styles/_layout.scss';

.donate {
  &__options {
    margin: 2rem auto;
    max-width: 50rem;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include if-narrow() {
      flex-direction: column;

      &__option {
        &:first-of-type {
          margin-bottom: 2rem;
        }
        &:last-of-type {
          margin-top: 2rem;
        }
      }
    }

    &__option {
      display: flex;
      align-items: center;
      &--primary {
        padding: 1.5rem;
      }
    }

    svg {
      margin-left: 0.5rem;
    }
  }

  &__bigger-supporters {
    @include type-less-prominent();
    color: $color-white;
  }

  &__supporters {
    @include type-normal();
    color: $color-grey;
  }
}
