@import '../styles/_colors.scss';
@import '../styles/_values.scss';

.volume-slider {
  padding: 1rem;
  cursor: pointer;

  &:hover {
    .volume-slider__bar {
      height: 0.5rem;
    }
  }

  &__bar {
    width: 10rem;
    height: 0.2rem;
    background-color: $color-grey;
    cursor: pointer;
    border-radius: $border-radius-sm;

    &__level {
      height: 100%;
      background-color: $color-white;
      cursor: pointer;
      border-radius: $border-radius-sm;

      &--is-changing {
        background-color: $color-primary;
        border-radius: $border-radius-sm;
      }
    }
  }
}
