{
  "extends": ["plugin:react/recommended", "plugin:react-hooks/recommended"],
  "env": {
    "node": false,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "2020"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": ["**/*.spec.js"],
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": "readonly"
      }
    }
  ]
}
