<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Generative.fm - Record
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#1e1e1e" />
    <meta name="author" content="Alex Bainter" />
    <meta
      name="description"
      content="Download & license unique tracks of any length from a variety of ambient generative music systems. Composed by a human, performed by computers."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://record.generative.fm" />
    <meta
      name="og:title"
      content="Made-to-order ambient music from Generative.fm"
    />
    <meta
      name="og:description"
      content="Download & license unique tracks of any length from a variety of ambient generative music systems. Composed by a human, performed by computers."
    />
    <meta
      name="og:image"
      content="<%= `https://record.generative.fm/${require('./cover-image.png').default}` %>"
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://record.generative.fm" />
    <meta
      property="twitter:title"
      content="Made-to-order ambient music from Generative.fm"
    />
    <meta
      property="twitter:description"
      content="Download & license unique tracks of any length from a variety of ambient generative music systems. Composed by a human, performed by computers."
    />
    <meta
      property="twitter:image"
      content="<%= `https://record.generative.fm/${require('./cover-image.png').default}` %>"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
      rel="preload"
      as="style"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main id="root"></main>
  </body>
</html>
