@import '../styles/_colors.scss';
@import '../styles/_type.scss';

.browse {
  &__message {
    @include type-normal();
    color: $color-grey;
    padding: 1rem;
    overflow-wrap: break-word;
  }
}
