@import '../styles/_colors.scss';
@import '../styles/_type.scss';
@import '../styles/_effects.scss';
@import '../styles/_layout.scss';
@import '../styles/_values.scss';

.piece {
  @include type-normal();
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: $color-white;

  &:hover {
    background-color: rgba($color-white, 0.05);
  }

  &__info {
    display: flex;
    align-items: center;

    &__image {
      width: 4rem;
      height: 4rem;
      box-shadow: $box-shadow-bottom;
      margin-right: 1rem;
      border-radius: $border-radius-sm;
    }

    &__title {
      margin-right: 1rem;
    }
  }

  &__buttons {
    display: flex;

    &__button {
      margin-left: 1rem;
    }
  }
}
