@import '@generative.fm/web-ui/styles/_theme.scss';
@import '../styles/_layout.scss';

.piece {
  @include type-normal();
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  color: $color-white;

  &:hover {
    background-color: rgba($color-white, 0.05);
  }

  &__info {
    display: flex;
    align-items: center;

    &__image {
      width: 4rem;
      height: 4rem;
      box-shadow: $box-shadow-bottom;
      margin-right: 1rem;
      border-radius: $border-radius-sm;
    }

    &__title {
      margin-right: 1rem;
      font-weight: $font-weight-medium;
    }
  }

  &__buttons {
    display: flex;

    &__button {
      margin-left: 1rem;
    }
  }
}

@include if-narrow() {
  .piece {
    padding: 0.5rem;
    &__info {
      &__image {
        width: 3rem;
        height: 3rem;
        margin-right: 0.5rem;
      }
      &__title {
        font-size: 0.9rem;
      }
    }
  }
}
