@import '../styles/_colors.scss';
@import '../styles/_effects.scss';
@import '../styles/_layout.scss';
@import '../styles/_type.scss';
@import '../styles/_values.scss';

.footer {
  background-color: $color-dark-3;
  height: $heightFooter;
  width: 100vw;
  box-shadow: $box-shadow-top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;

  &__left,
  &__center,
  &__right {
    flex: 0 0 calc(100% / 3);
    display: flex;
  }

  &__center {
    .button {
      margin-left: 1rem;
    }
  }

  &__center {
    justify-content: center;
  }

  &__right {
    justify-content: flex-end;
  }

  &--without-volume {
    .footer__left,
    .footer__right {
      flex: 0 0 50%;
    }

    .footer__right {
      .button {
        margin-right: 1rem;
      }
    }
  }
}

.now-playing {
  display: flex;
  align-items: center;

  &__image {
    width: 4rem;
    height: 4rem;
    margin: 0 1rem;
    box-shadow: $box-shadow-bottom;
    border-radius: $border-radius-sm;
  }

  &__title {
    @include type-normal();
    color: $color-white;
  }
}
