@import '@generative.fm/web-ui/styles/_theme.scss';
@import '../styles/_layout.scss';

.footer {
  background-color: $color-dark-3;
  height: $heightFooter;
  box-shadow: $box-shadow-top;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  &__left,
  &__center,
  &__right {
    flex: 0 0 calc(100% / 3);
    display: flex;
  }

  &__center {
    .button {
      margin-left: 1rem;
    }
  }

  &__center {
    justify-content: center;
  }

  &__right {
    justify-content: flex-end;
  }

  &--without-volume {
    .footer__left,
    .footer__right {
      flex: 0 0 50%;
    }

    .footer__right {
      .button {
        margin-right: 1rem;
      }
    }
  }
}

@include is-narrow-screen() {
  .footer {
    bottom: 4rem;
    height: 4rem;
    padding-right: 0.5rem;
  }
}

.now-playing {
  display: flex;
  align-items: center;

  &__image {
    width: 3rem;
    height: 3rem;
    margin: 0 1rem;
    box-shadow: $box-shadow-bottom;
    border-radius: $border-radius-sm;
  }

  &__title {
    @include type-normal();
    font-weight: $font-weight-medium;
    color: $color-white;
  }
}

@include is-narrow-screen() {
  .now-playing {
    &__image {
      margin-right: 0.5rem;
    }

    &__title {
      margin-left: 0.25rem;
      font-size: 0.9rem;
    }
  }
}
