@import '../styles/_colors.scss';
@import '../styles/_type.scss';
@import '../styles/_effects.scss';
@import '../styles/_layout.scss';

.header {
  width: 100%;
  background-color: $color-dark-2;
  height: $heightHeader;
  box-shadow: $box-shadow-bottom;
  color: $color-grey;
  display: flex;
  align-items: center;
  z-index: 1;

  &__title {
    @include type-less-prominent();
    padding: 0 1rem;
  }

  &__nav {
    @include type-normal();
    display: flex;
    align-items: center;

    &__item {
      color: $color-grey;
      text-decoration: none;
      padding: 0 1rem;
      height: $heightHeader;
      display: flex;
      align-items: center;

      &--active {
        color: $color-white;
      }

      &:hover {
        background-color: $color-dark-4;
      }
    }
  }
}

$heart-height: 0.5rem;
$heart-color: #bf0000;
.heart {
  height: $heart-height;
  width: $heart-height;
  background-color: $heart-color;
  transform: rotate(45deg);
  margin-left: 0.5rem;
  margin-top: 0.1rem;

  &:before,
  &:after {
    content: '';
    background-color: $heart-color;
    border-radius: 50%;
    height: $heart-height;
    position: absolute;
    width: $heart-height;
  }

  &:before {
    top: -$heart-height / 2;
    left: 0;
  }

  &:after {
    right: $heart-height / 2;
  }
}
