@import '../styles/_layout.scss';
@import '../styles/_colors.scss';

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $heightNav 1fr $heightFooter;
  grid-template-areas:
    'top-bar'
    'content'
    'controls';
  height: 100%;
  width: 100vw;

  &--with-search {
    grid-template-rows: $heightNav $heightSearchbar 1fr $heightFooter;
    grid-template-areas:
      'top-bar'
      'search'
      'content'
      'controls';
  }

  &--without-footer {
    grid-template-rows: $heightNav 1fr;
    grid-template-areas:
      'top-bar'
      'content';
  }

  &--with-search#{&}--without-footer {
    grid-template-rows: $heightNav $heightSearchbar 1fr;
    grid-template-areas:
      'top-bar'
      'search'
      'content';
  }

  &__content {
    grid-area: content;
    overflow-y: auto;
    padding-bottom: 5rem;
  }
}

@include if-narrow() {
  .layout {
    grid-template-rows: 3rem 1fr $heightFooter $heightNav;
    grid-template-areas:
      'top-bar'
      'content'
      'controls'
      'bottom-nav';

    &--with-search {
      grid-template-rows: 3rem $heightSearchbar 1fr $heightFooter $heightNav;
      grid-template-areas:
        'top-bar'
        'search'
        'content'
        'controls'
        'bottom-nav';
    }

    &--without-footer {
      grid-template-rows: 3rem 1fr $heightNav;
      grid-template-areas:
        'top-bar'
        'content'
        'bottom-nav';
    }

    &--with-search#{&}--without-footer {
      grid-template-rows: 3rem $heightSearchbar 1fr $heightNav;
      grid-template-areas:
        'top-bar'
        'search'
        'content'
        'bottom-nav';
    }
  }
}
