@import '../styles/_layout.scss';
@import '../styles/_colors.scss';

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $heightHeader 1fr $heightFooter;
  grid-template-areas:
    'header'
    'content'
    'footer';
  height: 100%;
  width: 100vw;

  &--with-search {
    grid-template-rows: $heightHeader $heightSearchbar 1fr $heightFooter;
    grid-template-areas:
      'header'
      'search'
      'content'
      'footer';
  }

  &--without-footer {
    grid-template-rows: $heightHeader 1fr;
    grid-template-areas:
      'header'
      'content';
  }

  &--with-search#{&}--without-footer {
    grid-template-rows: $heightHeader $heightSearchbar 1fr;
    grid-template-areas:
      'header'
      'search'
      'content';
  }

  &__content {
    grid-area: content;
    overflow-y: auto;
  }

  &__overlay {
    grid-area: content;
    z-index: 1;
  }
}
