@import '../styles/_layout.scss';
@import '../styles/_colors.scss';

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $heightNav 1fr $heightFooter;
  grid-template-areas:
    'nav'
    'content'
    'controls';
  height: 100%;
  width: 100vw;

  &--with-search {
    grid-template-rows: $heightNav $heightSearchbar 1fr $heightFooter;
    grid-template-areas:
      'nav'
      'search'
      'content'
      'controls';
  }

  &--without-footer {
    grid-template-rows: $heightNav 1fr;
    grid-template-areas:
      'nav'
      'content';
  }

  &--with-search#{&}--without-footer {
    grid-template-rows: $heightNav $heightSearchbar 1fr;
    grid-template-areas:
      'nav'
      'search'
      'content';
  }

  &__content {
    grid-area: content;
    overflow-y: auto;
    padding-bottom: 5rem;
  }

  &__overlay {
    grid-area: content;
    z-index: 1;
  }
}

@include if-narrow() {
  .layout {
    grid-template-rows: 1fr $heightFooter $heightNav;
    grid-template-areas:
      'content'
      'controls'
      'nav';

    &--with-search {
      grid-template-rows: $heightSearchbar 1fr $heightFooter $heightNav;
      grid-template-areas:
        'search'
        'content'
        'controls'
        'nav';
    }

    &--without-footer {
      grid-template-rows: 1fr $heightNav;
      grid-template-areas:
        'content'
        'nav';
    }

    &--with-search#{&}--without-footer {
      grid-template-rows: $heightSearchbar 1fr $heightNav;
      grid-template-areas:
        'search'
        'content'
        'nav';
    }
  }
}
