@import '../styles/_colors.scss';
@import '../styles/_layout.scss';

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba($color-dark-1, 0.8);
  width: 100%;
  position: fixed;
  top: 0;

  &--appear {
    opacity: 0;

    &-active {
      opacity: 1;
      transition: opacity 200ms;
    }
  }

  @include if-narrow() {
    flex-direction: column;
    justify-content: flex-end;
    top: initial;
    bottom: $heightNav;

    &--above-footer {
      bottom: $heightNav + $heightFooter;
    }
  }
}
